.large-hero {
   border-bottom: 10px solid $mainBlue;
   position: relative;
   &__image {
      display: block;
   }
   &__text-content {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      text-align: center;
      transform: translateY(-50%);
   }
   &__title {
      padding-top: 60px;
      font-weight: 300;
      color: $mainBlue;
      font-size: 2.3rem;
      margin: 0;
      @mixin atSmall {
         font-size: 2.9rem;
      }
      @mixin atMedium {
         font-size: 3.7rem;
      }
      @mixin atLarge{
         font-size: 4.8rem;
      }
   }
   &__subtitle {
      font-weight: 300;
      color: $mainBlue;
      margin: 0;
      font-size: 1.8rem;
      @mixin atSmall {
         font-size: 2.2rem;
      }
      @mixin atMedium {
         font-size: 2.6rem;
      }
      @mixin atLarge{
         font-size: 2.9rem;
      }
   }
   &__description {
      max-width: 20rem;
      margin-left: auto;
      margin-right: auto;
      color: white;
      font-size: 1.2rem;
      font-weight: 100;
      text-shadow: 2px 2px 0 rgba(0,0,0,.1);
      @mixin atSmall {
         max-width: 23rem;
         font-size: 1.4rem;
      }
      @mixin atMedium {
         max-width: 27rem;
         font-size: 1.6rem;
      }
      @mixin atLarge{
         max-width: 30rem;
         font-size: 1.875rem;
      }
   }
}